<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="content">
        <img src="/public/img/image.png" alt="Main Image" class="main-image">
    </div>
    <div class="blog">
        <div class="img-blog">
            <div class="img1"><img src="/public/img/blog1.jpeg" alt=""></div>
            <div class="img2"><img src="/public/img/blog2.jpeg" alt=""></div>

        </div>
        <h1>CẢM ƠN VÌ BẠN ĐÃ LỰA CHỌN CHÚNG TÔI</h1>
    </div>
    <div class="blog1">
        <h1>HỆ THỐNG CỬA HÀNG KÍNH MẮT</h1>
        <div class="img1">
            <img src="/public/img/blog3.jpeg" alt="">
        </div>

    </div>
    <div class="blog2">
        <div class="p-blog">
            <h1>VŨ TRỤ TRUYỀN THÔNG</h1>
            <p>Kính mắt Anna chắc không còn quá xa lạ với giới trẻ nữa. Đây là kênh thông tin mua sắm và giải trí dành
                cho
                giới trẻ, là “món ăn tinh thần” hằng ngày không thể thiếu của mỗi người trẻ.

                Được thành lập từ năm 2015, trải qua hơn 7 năm phát triển kính mắt Anna đã, đang và sẽ chiếm vị trí
                không
                thể thiếu đối với các bạn trẻ. Cập nhật thông tin thời trang nhanh chóng và phù hợp với thị hiếu của
                khán
                giả thông qua các mạng xã hội như Facebook, Tiktok, Instagram, Youtube, kính mắt Anna là lựa chọn hàng
                đầu
                cho những ai muốn tận hưởng các bài viết, video vừa mang tính giải trí mà vẫn có đầy đủ thông tin cần
                thiết.
            </p>
        </div>
        <div class="img3">
            <img src="/public/img/blog4.png" alt="">
        </div>
    </div>
   <div class="blog-slider">
  <div class="fl-blog">
    <h3>TÌNH THƯƠNG MẾN THƯƠNG</h3>
    <h1>KHÁCH HÀNG THÂN YÊU</h1>
  </div>
  <div class="slider">
    <a href="#" class="slide">
      <img src="/public/img/bannipham.png" alt="">
      <p>Banni Phạm</p>
    </a>
    <a href="#" class="slide">
      <img src="/public/img/khanhhuyenh.jpeg" alt="">
      <p>Khánh Huyền</p>
    </a>
    <a href="#" class="slide">
      <img src="/public/img/vanh.jpeg" alt="">
      <p>Vân Anh</p>
    </a>
    <a href="#" class="slide">
      <img src="/public/img/tramanh.jpeg" alt="">
      <p>Trâm Anh</p>
    </a>
  </div>
</div>


</body>
</html>